:root {
    font-family: 'Inter', sans-serif;
    font-size: 62.5%; /* 1rem = 10px */   
   
    --color-bg-primario: #f6f9fc;
    --color-bg-secundario: #00796b;
    --color-bg-btn: #015047;
    --color-bg-btn-hover: #303f9f;
    --color-bg-dark: #121212;
    --color-bg-dark-2: #554747; 
    --color-text-primario: #ffffff;
    --color-text-secundario: #004aad;
    --color-text-dark: #eeeeee;
    --cor-secundaria: #264653;
    --cor-destaque: #2a9d8f;
    --texto-claro: #ffffff;   
    --cor-texto-principal: #333;
    --cor-texto-secundaria: #555;
    --cor-texto-destaque: #007bff;
    --cor-destaque: #007bff;
    --cor-destaque-hover: #0056b3;
    --cor-borda: #ddd;
}

  