@import url("./reset.css");
@import url('./global.css');

@import url("./ortofisius.css");
@import url("./historicoGeral.css");

@import url('./darkTogglePreloader.css');

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    background-color: var( --color-bg-primario);
    color: #333;
    transition: background 0.3s, color 0.3s;
}

header {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 0;
    background-color: var(--color-bg-secundario);
    color: #fff;
    text-align: center;
} 

h1 {

    font-size: 4rem;
    font-weight: 600;
}

header p {
    font-size: 2.2rem;
    margin-top: 0.5rem;
    font-weight: 300;
}

main {
    padding: 0 1rem;
}

h2 {
    margin: 2rem 0;
    font-size: 2.4rem;
    text-align: center;
    font-weight: 600;
    color: var(--color-text-secundario);
}

main p {
    font-size: 1.6rem;
    text-align: center;
    margin-bottom: 2rem;
}

.menu-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 1.5rem;
    padding: 2rem;
    flex: 1;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    background-color: #a8dadc;
    color: #1d3557;
    padding: 1rem;
    border-radius: 12px;
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s ease;
    font-size: 1.1rem;
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
}

.btn:hover {
    transform: translateY(-4px);
    box-shadow: 0 6px 18px rgba(0,0,0,0.1);
}
  

form {
    margin-top: 20px;
    background: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px #ccc;
}
  
form label {
    display: block;
    margin: 10px 0 5px;
}
  
form input {
    width: 98%;
    padding: 8px;
    margin-bottom: 10px;
}
  
button {
    background-color: #00796b;
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}
  
button:hover {
    background-color: #004d40;
}
  
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
}
  
th, td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

.impressao-controls {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 20px;
}

.btn-imprimir {
    background-color: #4caf50;
    color: white;
    padding: 10px 16px;
    margin-top: 10px;
    margin-bottom: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}
  
.btn-imprimir:hover {
    background-color: #45a049;
}

.filtros {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
}
  
.filtros label {
    font-weight: bold;
}
  
.filtros select,
.filtros input,
.filtros button {
    padding: 6px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    background-color: var(--color-bg-secundario);
    color: var(--color-text-primario);   
    margin-top: 1rem;
    padding: 1rem;
    font-size: 0.9rem;
}

footer P {
    font-size: 1.6rem;
    font-weight: 300;    
    color: var(--color-text-primario);
    text-align: center;
    padding: 0 1rem;
}
  
  
/* Estilo para impressão */
@media print {
    .btn-imprimir {
      display: none;
    }
  
    body {
      font-size: 12pt;
      background: white;
      color: black;
    }
  
    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px;
    }
  
    table, th, td {
      border: 1px solid black;
    }
  
    th, td {
      padding: 6px;
      text-align: left;
    }
}
  