@import url("./reset.css");
@import url('./global.css');

@import url("./index.css");
@import url("./historicoGeral.css");

@import url("./darkTogglePreloader.css");


body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    background-color: var( --color-bg-primario);
    color: #333;
    transition: background 0.3s, color 0.3s;
}

.menu {   
    background: var(--cor-secundaria);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    padding: 2rem 0;   
    position: relative; 
}

.menu-toggle {
    display: none;
    font-size: 2rem;
    background: none;
    color: var(--texto-claro);
    border: none;
    cursor: pointer;
}

.menu-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu a {
    text-decoration: none;
    color: var(--texto-claro);
    font-size: 1.6rem;
    font-weight: 600;
    padding: 0.6rem 1rem;
    border-radius: 8px;
    transition: background 0.3s ease, color 0.3s ease;
}
  
.menu a:hover,
.menu a:active {
    background-color: var(--cor-destaque);
    color: #fff;
}
  

header {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 0;
    background-color: var(--color-bg-secundario);
    color: #fff;
    text-align: center;
} 

header h1 {
    font-size: 4rem;
    font-weight: 600;
}

header p {
    font-size: 2.2rem;
    margin-top: 0.5rem;
    font-weight: 300;
}

main {
    padding: 0 1rem;
}

h2 {
    margin: 2rem 0;
    font-size: 2.4rem;
    text-align: center;
    font-weight: 600;
    color: var(--color-text-secundario);
}

main p {
    font-size: 1.6rem;
    text-align: center;
    margin-bottom: 2rem;
}

.menu-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 1.5rem;
    padding: 2rem;
    flex: 1;
}
  
form {
    margin-top: 20px;
    background: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px #ccc;
}
  
form label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
    color: var(--color-text-secundario);
    font-size: 1.6rem;
}
  
form input {
    width: 98%;
    padding: 1.6rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1.6rem;
}

select,
  input[type="date"],
  button {
    padding: 1rem 1.2rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1.6rem;
}
  
  
button {
    background-color: var(--color-bg-secundario);
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}
  
button:hover {
    background-color: #004d40;
}
  
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
    background: var(--color-bg-primario);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px #ccc;
}

thead {
    background-color: #004aad;
    color: white;
  }
  
  th,
  td {
    padding: 0.75rem;
    text-align: left;
    border-bottom: 1px solid #ddd;
    font-size: 1.6rem;
  }
  
tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
th, td {
    padding: 20px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    background-color: var(--color-bg-secundario);
    color: var(--color-text-primario);   
    margin-top: 2rem;
    padding: 1rem;
    font-size: 0.9rem;
}

footer P {
    font-size: 1.6rem;
    font-weight: 300;    
    color: var(--color-text-primario);
    text-align: center;
    padding: 0 1rem;
}


.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    background-color: #a8dadc;
    color: #1d3557;
    padding: 1rem;
    border-radius: 12px;
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s ease;
    font-size: 1.1rem;
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
}

.btn:hover {
    transform: translateY(-4px);
    box-shadow: 0 6px 18px rgba(0,0,0,0.1);
}
  
/* Impressão */
@media print {
    header, #toggle-theme, .filtros, .btn-imprimir, footer {
      display: none;
    }
  
    table {
      border: 1px solid #000;
    }
  
    th, td {
      border: 1px solid #000;
      font-size: 12pt;
    }
  
    body {
      background: white;
      color: black;
      font-size: 12pt;
    }
}

  
/* Responsividade */
  @media (min-width: 318px) and (max-width: 767px) {    
    .menu-toggle {
        display: block;
        position: absolute;
        left: -28rem;
        top: 2rem;
      }
    
      .menu-links {
        display: none;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
        margin-top: 3rem;
      }
    
      .menu-links.show {
        display: flex;
      }
    
    #toggle-theme {
        top: -.5rem;
    }
    
    header h1 {
        font-size: 2rem;
    }
    header p {
        font-size: 1.5rem;
    }
    
    h2 {
        font-size: 2.3rem;
    }

    main p {
        font-size: 1.4rem;
    }

    .menu-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        
    }

    .filtros-container {
      flex-direction: column;
    }


  
    table, th, td {
      font-size: 1.6rem;
    }
  
    h1 {
      font-size: 1.4rem;
    }
}

  
@media (max-width: 768px) {
    .menu-toggle {
        display: block;
        position: absolute;
        left: -1rem;
        top: -1rem;
      }
    
      .menu-links {
        display: none;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
        margin-top: 3rem;
      }
    
      .menu-links.show {
        display: flex;
      }
      
      #toggle-theme {
        top: -.5rem;
    }
    header h1 {
        font-size: 3rem;
    }
    main h2 {
        font-size: 2rem;
    }

    .menu-container {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        padding: 1rem;

    }

    .filtros-container {
      flex-direction: column;
    }
  
    table, th, td {
      font-size: 1.2rem;
    }
  
    h1 {
      font-size: 1.4rem;
    }
}
