  /* Filtros */

  .filtros-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;   
    margin-bottom: 2rem;
  }
  .filtros { 
    display: flex;
    justify-content: space-between;  
    align-items: center;    
    background: #e6f0ff;
    padding: 1rem;
    border-radius: 8px;
    margin-bottom: 2rem;
  }
  
  .filtros-container {
    display: flex;  
    gap: 1rem;
    margin-top: 0.5rem;
  }
  
  .filtros-container label {
    font-size: 1.2rem;
    margin-right: 0.5rem;
    font-weight: 500;
  }
  
  select,
  input[type="date"],
  button {
    padding: 0.4rem 0.6rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 0.95rem;
  }
  
  /* Botões */
  .btn,
  .btn-imprimir {
    background-color: #004aad;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.2s;
  }
  
  .btn:hover {
    background-color: #00307d;
  }
    
  /* Gráfico */
  .grafico-section {
    margin-top: 2rem;
    text-align: center;
  }

  .impressao-controls {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 20px;
}


  
.btn-imprimir:hover {
    background-color: #45a049;
}
